<div class="demo-headline">
	<h1>{{pub.name}}</h1>
	<p>{{pub.location}}</p>
</div>
<div class="site-list-container">
	<div class="span4 menu">
		<div class="site-list">
			<ul>
				<li>
					<a href="#/pub/{{pub._id}}/waste">
						<div class="site-contents">
							<h4 class="site-name">Waste</h4>
							Record any wastage
						</div>
					</a>
				</li>
				<li>
					<a href="#/pub/{{pub._id}}/turnover">
						<div class="site-contents">
							<h4 class="site-name">Turnover</h4>
							Input daily turnover
						</div>
					</a>
				</li>
				<li>
					<a href="#/pub/{{pub._id}}/expenses">
						<div class="site-contents">
							<h4 class="site-name">Expenses</h4>
							Input any expenses e.g. Paying a DJ
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>