<navbar pubname="{{pub.name}}" pubid="{{pub._id}}"></navbar>

<div class="container">
	<div class="content">
		<h1>Waste</h1>
		<div class="span3">
		<h2>Select Date</h2>
			<div id="5" data-date="{{data.date | date}}" data-date-format="dd/mm/yy" ng-change="getWaste()" ng-model="data.date" bs-datepicker></div>
		</div>
		<div class="span8">
			<h2>Add New Waste</h2>
			<form name="newWaste">
				<select class="span3" value="Beer" name="beerName" ng-model="data.beerName" required>
					<option value="" ng-selected="selected">Choose Beer</option>
					<% for(var i=0; i<beer.length; i++) { %>
						<option value="<%= beer[i] %>"><%= beer[i] %></option>
					<% } %>
				</select>
				<input type="number" value="" placeholder="Waste in Pints" name="amount" ng-model="data.amount" min="0" max="99" required>
				<input type="text" value="" placeholder="Notes" name="notes" ng-model="data.notes">
				<a href="" name="saveWaste" class="btn" ng:click="save()" ng-disabled="newWaste.$pristine || newWaste.$invalid">Save</a>
			</form>
			<hr/>
		</div>
		<div class="span7">
			<h2>Current Wastage</h2>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Beer</th>
						<th>Waste</th>
						<th>Notes</th>
						<th>Person</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="wastage in waste">
						<td>{{wastage.date | date}}</td>
						<td>{{wastage.beerName}}</td>
						<td>{{wastage.amount}}</td>
						<td>{{wastage.notes}}</td>
						<td>Test</td>
					</tr>
					<tr ng-show="!pub.waste.length"><td class="no-waste" colspan="5">No Waste For {{data.date | date}}</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>