<div class="demo-headline">
	<h1>Castle Solutions</h1>
	<p>Site Management</p>
</div>
<div class="site-list-container">
	<div class="span5">
		<div class="site-list">
			<ul>
				<li name="pub-repeater" ng-repeat="pub in pubs">
					<a href="#/pub/{{pub.slug}}">
						<div class="site-contents">
							<h4 class="site-name">{{pub.name}}</h4>
							{{pub.location}}
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>